.left{
  // margin-left: 400px;
  // border-left: 2px solid black;
  padding-left: 40px;
}
.paragraph{
  margin-left: 80px;
  line-height: 1.75;
  width: 90%;
}
.border{
  border-left: 2px solid black;
}
